adapter_khz     30000

# USB driver
interface ftdi
ftdi_device_desc "USB <-> Serial Converter"
ftdi_vid_pid 0x0403 0x6011
ftdi_tdo_sample_edge falling

# GPIO PIN data/direction setting
#ftdi_layout_init 0x0008 0x000b
ftdi_layout_init 0x0008 0x001b

# CPU setting
set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x0675089f

set _TARGETNAME $_CHIPNAME.cpu
#target create $_TARGETNAME riscv -chain-position $_TARGETNAME -coreid 0
target create $_TARGETNAME riscv -chain-position $_TARGETNAME -rtos riscv
$_TARGETNAME configure -work-area-phys 0x80000000 -work-area-size 10000 -work-area-backup 1

#flash bank onboard_spi_flash fespi 0x20000000 0 0 0 $_TARGETNAME
init
poll off
$_TARGETNAME riscv dmi_write 0x10 0x3
$_TARGETNAME riscv dmi_write 0x10 0x1
$_TARGETNAME riscv dmi_write 0x10 0x80000001
$_TARGETNAME riscv dmi_write 0x10 0x80010001
$_TARGETNAME riscv dmi_write 0x10 0x80020001
$_TARGETNAME riscv dmi_write 0x10 0x80030001
poll on
reset init
halt
